th {
    /* top right bottom left */
    padding: 0 10px 10px 0;
}

td {
    padding: 0 10px 0 0;
}

.error {
    font-weight: bold;
    color: #ff0000;
}

.horizontal input {
    float: left;
    margin-right: 10px;
}